{% extends '::base.html.twig' %}

{% block body %}
<form action="" method="post">
<div>Nombre fichero</div> <div><input type='text' name='nombre'></div>
<div>Password</div> <div><input type='file' name='file'></div>
<div><input type="submit" value="Subir"></div>
</form>
{% endblock %}