{% extends '::base2.html.twig' %}

{% block body -%}
<section id="seccion_pri">
	<article>
    	<h1>Registrar Usuario</h1>

		    {{ form(form) }}

		        <ul class="record_actions">
		    <li>
		        <a href="{{ path('acceso_login') }}">
		            Volver a login
		        </a>
		    </li>
		</ul>
	</article>
</section>
{% endblock %}